.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-list .todo-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.todo-list .todo-row {
    display: flex;
    position: relative;
    width: 100%;
    border-top: 1px solid #457B9D;
    padding: 16px 0;
    justify-content: space-between;
}

.todo-list .button-done {
    margin-right: 8px;
}